{% extends "base.html" %}

{% block title %}Signup{% endblock %}

{% block content %}
  <body>
    <div class="container">
      <br>
      <form action="" method="post">
        <h3>Sign Up</h3>
        <input type="text" name="name" value="Name">
         <input type="password" name="password" value="Password">
        <input class="btn btn-default" type="submit" value="Signup">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
{% endblock %}